mixin input-checkbox(id, label, checked, high, link)
	+b.input-checkbox&attributes(attributes)(class=high ? "_high" : "")
		block
		+e('input').input(id=`skill-${id}` type="checkbox" name="name" checked=checked)
		+e('label').label(for=`skill-${id}`)= label
			if link
				+e('a').link(href=`http:\/\/${link}` target='blank')= link